// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FINE RESET

// STILI GENERALI
body {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: $font_size_titolo_album;
  font-weight: 500;
}

img {
  width: 100%;
}

.container {
  max-width: $larghezza_container;
  margin: auto;
}

.sezione {
  padding: nth($lista_margine_padding, 5);
}
// FINE STILI GENERALI
